<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | <%= title %> </title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem eos ea asperiores perferendis a dicta commodi natus iure. Vel quia nulla quos amet a maiores quisquam pariatur, earum laboriosam voluptates fuga voluptatem ullam modi magni obcaecati? Eos qui itaque illo nesciunt dolores voluptates dolor quis cupiditate illum, excepturi reprehenderit libero distinctio esse quasi voluptatem laboriosam laudantium officiis sequi velit! Quidem eligendi iste non velit fugiat temporibus eos omnis voluptatibus quaerat aperiam! Ad illo dolore consectetur reprehenderit illum velit perferendis. Veritatis explicabo quam, obcaecati pariatur est aut, porro laborum sapiente libero quis voluptates sunt expedita delectus quos itaque, rem molestiae consequuntur!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem eos ea asperiores perferendis a dicta commodi natus iure. Vel quia nulla quos amet a maiores quisquam pariatur, earum laboriosam voluptates fuga voluptatem ullam modi magni obcaecati? Eos qui itaque illo nesciunt dolores voluptates dolor quis cupiditate illum, excepturi reprehenderit libero distinctio esse quasi voluptatem laboriosam laudantium officiis sequi velit! Quidem eligendi iste non velit fugiat temporibus eos omnis voluptatibus quaerat aperiam! Ad illo dolore consectetur reprehenderit illum velit perferendis. Veritatis explicabo quam, obcaecati pariatur est aut, porro laborum sapiente libero quis voluptates sunt expedita delectus quos itaque, rem molestiae consequuntur!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem eos ea asperiores perferendis a dicta commodi natus iure. Vel quia nulla quos amet a maiores quisquam pariatur, earum laboriosam voluptates fuga voluptatem ullam modi magni obcaecati? Eos qui itaque illo nesciunt dolores voluptates dolor quis cupiditate illum, excepturi reprehenderit libero distinctio esse quasi voluptatem laboriosam laudantium officiis sequi velit! Quidem eligendi iste non velit fugiat temporibus eos omnis voluptatibus quaerat aperiam! Ad illo dolore consectetur reprehenderit illum velit perferendis. Veritatis explicabo quam, obcaecati pariatur est aut, porro laborum sapiente libero quis voluptates sunt expedita delectus quos itaque, rem molestiae consequuntur!</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>